.card{
    height: 300px !important;
    max-height: 300px !important;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-footer{
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
}
.btnStyls{
    font-size: 0.8rem !important;
    width: 100px;
    padding: 4px !important;
}

.hideButton{
    display: none;
}